.App{
  margin: 5rem;
  padding: 2rem;
  box-sizing: 30%;
  text-align: center;
  display: inline;

}
.task{
  margin-top: 5rem;
}
.inputTask{
  width: 30%;
  background: #f0f3f3;
  font-size: 16px;
  border: 2px solid #30d1c9;
  border-radius: 5px;
  padding: 5px;

}


.addTask{
  background: #30d1c9;
  font-size: 26px;
  border: 2px solid #30d1c9;
  border-radius: 7px;
  margin-top: 45px;
  margin-left: 2px;
  cursor: pointer;
  color: #f0f3f3;
  padding: auto;
}

.addTask:hover, .addTask:focus, .addTask:active{
  
  background: #047786; 
  border: 2px solid #047786;
  color: #23f53f;
}
.tasks{
  margin: 5rem;
}
.tasks li{
  list-style-type: decimal;
  font-size: 14px;
  color: #073561;
  margin: 1rem;
}
.tasks{
  
  background-color: #f1f1f1;
}

